.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 24px;
  border: 3px solid var(--medium-texts);
  border-radius: 18px;

  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.form-group .form-icon {
  font-size: 18px;
  color: var(--light-grey);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.form-group .form-icon img {
  height: 30px;
}

.form-group h3 {
  font-size: 24px;
  color: var(--medium-texts);
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 15px;
}

.form-group .radio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;

  border-top: 1px solid var(--light-texts);

  position: relative;
  color: var(--medium-texts);

  input {
    margin-right: 8px;
  }
}

.form-group .radio-wrapper span {
  position: absolute;
  right: 0;
}

.form-group .radio-wrapper:nth-last-child(3) {
  border-bottom: 1px solid var(--light-texts);
  margin-bottom: 38px;
}

.form-group .btn-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-group .checkbox-wrapper {
  color: var(--light-grey);
  margin-bottom: 32px;
  position: relative;
  width: 100%;

  span {
    position: absolute;
    right: 0;
  }

  input {
    margin-right: 8px;
  }
}

.form-group .btn-wrapper .btn {
  font-size: 20px;
  border-radius: 4px;
  background-color: var(--dark-grey);
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px;
  width: 25%;
  border: none;
  cursor: pointer;
}

.form-group .btn-wrapper .btn-primary {
  background-color: var(--yellow);
}

.form-group .btn-wrapper .btn-secondary {
  background-color: transparent;
  border: 1px solid var(--light-grey);
}
