<form action="" [formGroup]="formGroup" class="form-group">
  <div class="form-icon">
    <img src="../../../assets/images/png/icon-hour.png" alt="" />Horário
  </div>
  <h3>Qual período quer treinar?</h3>
  <div class="radio-wrapper">
    <!-- Aqui, estamos usando formControlName para vincular ao controle 'hour' no FormGroup -->
    <input type="radio" name="hour" formControlName="hour" value="morning" />
    <label for="morning">Manhã</label>
    <span>06:00 às 12:00</span>
  </div>
  <div class="radio-wrapper">
    <!-- Aqui, estamos usando formControlName para vincular ao controle 'hour' no FormGroup -->

    <input type="radio" name="hour" formControlName="hour" value="afternoon" />
    <label for="afternoon">Tarde</label>
    <span>12:01 às 18:00</span>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="hour" formControlName="hour" value="night" />
    <label for="night">Noite</label> <span>18:01 às 23:00</span>
  </div>
  <div class="checkbox-wrapper">
    <div class="checkbox">
      <input
        formControlName="showClosed"
        type="checkbox"
        name="show-closed"
        id=""
      />
      <label for="show-closed">Exibir unidades fechadas</label>
    </div>
    <span>Resultados Encontrados: {{ filteredResults.length }}</span>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="onSubmit()">
      Encontrar Unidade
    </button>
    <button class="btn btn-secondary" (click)="onClean()">Limpar</button>
  </div>
</form>
